* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#cat {
    --cat-size: 500px;
    --active-cat-sprite: 0;
    width: var(--cat-size);
    height: var(--cat-size);
    background-image: url("cat-sprite.png");
    background-position-x: calc(
        var(--active-cat-sprite) * var(--cat-size) * -1
    );
}
